@font-face {
  font-family: 'Antolia Buchery';
  src: url('/fonts/AntoliaBuchery.woff2') format('woff2'),
       url('/fonts/AntoliaBuchery.woff') format('woff'),
       url('/fonts/AntoliaBuchery.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.antolia-font {
  font-family: 'Antolia Buchery', cursive;
}
